<h2>You have requested password recovery option for email&nbsp;<?= $this->email ?></h2>
<p>
    To recover password go to
    <a href="<?= $this->url('recovery-password', ['hash' => $this->hash], ['force_canonical' => true]) ?>">url</a>
    <br>
    If you did not request a password recovery follow
    <a href="<?= $this->url('recovery-password-cancel', ['hash' => $this->hash], ['force_canonical' => true]) ?>">url</a>
</p>